#header {
    height: 33px;
    background: #eee;
}

#footer {
    background: #eee;
    padding: 5px;
}

.mainMenu .navbar-nav li {
    margin-left: 1px;
    margin-right: 1px;
    border-top: 5px solid #333;
    background: #e6e6e6;
}

.mainMenu .navbar-nav li a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 13px;
}

.mainMenu .navbar-nav li.active {
    border-top: 5px solid #007abe;
}

.mainMenu .navbar-nav li.active a {
    background: white;
}
